name: systemgym
description: A new Flutter project.
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=2.19.2 <3.0.0'
dependencies:
  animated_splash_screen: ^1.3.0
  carousel_slider: ^4.2.1
  chewie: ^1.5.0
  cupertino_icons: ^1.0.2
  dartz: ^0.10.1
  date_picker_timeline: ^1.2.3
  dio: ^5.2.1+1
  dropdown_button2: ^2.1.4
  dropdown_search: ^5.0.6
  flutter:
    sdk: flutter
  flutter_slidable: ^3.0.0
  flutter_svg: ^2.0.5
  flutter_switch: ^0.3.2
  fluttertoast: ^8.2.2
  get: ^4.6.5
  get_storage: ^2.1.1
  images_picker: ^1.2.11
  intl: ^0.18.1
  logger: ^1.4.0
  numberpicker: ^2.1.2
  octo_image: ^1.0.2
  smooth_page_indicator: ^1.1.0
  syncfusion_flutter_datepicker: ^22.1.34
  top_snackbar_flutter: ^3.0.0+1
  video_player: ^2.6.1

dev_dependencies:
  flutter_lints: ^2.0.0
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec
# The following section is specific to Flutter packages.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/images/
    - assets/svg/
  #   - images/a_dot_ham.jpeg
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware
  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages
  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  fonts:
    - family: Poppins
      fonts:
        - asset: assets/fonts/Poppins-Regular.ttf
    - family: Montserrat
      fonts:
        - asset: assets/fonts/Montserrat-Regular.ttf
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
